<div class="relative overflow-x-auto">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Id</th>
          <th scope="col" class="px-6 py-3">Nombre Plato</th>
          <th scope="col" class="px-6 py-3">Descripcion Plato</th>
          <th scope="col" class="px-6 py-3">Categoria</th>
          <th scope="col" class="px-6 py-3">PVP</th>
          <th scope="col" class="px-6 py-3">Costo Produccion</th>
          <th scope="col" class="px-6 py-3">Ingredientes</th>
          <th scope="col" class="px-6 py-3">Imagen</th>

        </tr>
      </thead>
      <tbody>
        @for (menus of menu; track menus) {
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ menus.id }}
            </th>
            <td class="px-6 py-4">{{ menus.namedish }}</td>
            <td class="px-6 py-4">{{ menus.platedescription }}</td>
            <td class="px-6 py-4">{{ menus.idcategories }}</td>
            <td class="px-6 py-4">{{ menus.prece}}</td>
            <td class="px-6 py-4">{{ menus.cost }}</td>
            <td class="px-6 py-4">{{ menus.ingredients }}</td>
            <td class="px-6 py-4"><img srcset="{{ menus.image }}" class="w-full h-full object-cover" alt=""
            /> </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  